.home {
  display: flex;

  .homeContainer {
    flex: 6;
  }
}
    .profile-image{
  width: 230px;
  height: 230px;
}

@media (max-width: 768px) {
  .profile-image {
    width: 150px;
    height: 150px;
    min-width: 100px;
    min-height: 100px;
  }
}
.file-upload-container {
  padding: 20px;
  text-align: center;
}

.file-upload-container.dragging {
  background-color: #f0f0f0;
}

.file-upload-dropzone {
  border: 1px dashed #ccc;
  padding: 20px;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 5px;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-list {
  display: flex;
  flex-wrap: wrap;
}

.file-card {
  margin: 10px;
  padding: 10px;
  text-align: center;
  min-width: 150px;
}

.file-name {
  font-weight: bold;
}

.file-remove {
  color: red;
  cursor: pointer;
  margin-top: 10px;
}

/* Specific styles for the custom file upload button */
.custom-file-upload {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  background-color: #cccccc;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}

.custom-file-upload input {
  display: none;
}

.custom-file-upload:hover {
  background-color: #999999;
}